html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

div {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  background-color: #EAFFF9;
  border-radius: 50%;
}

span {
  margin: 0 10px;
}